@import "tailwindcss";

/* Varsayılan renkler (light) */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Body'ye arka plan ve yazı rengi uygula */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: system-ui, sans-serif;
}
